body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
}

#title {
    background-color: rgb(67, 167, 112);
    color: white;
    padding: 5px;
    padding-left: 15px;
    margin: 5px;
    line-height: 10px;
}

#title, #sidebar, #bottom, #menu{
    border-radius: 6px;
    margin: 5px;

}
#wrapper {
    display: flex;
    overflow: auto;
}
#menu {
    background-color: gray;
}

#main1, #main2 {
    padding: 10px;
    margin: 5px;
}

#sidebar {
    background-color: rgb(4, 166, 230);
    color:rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
}

#bottom {
    border: 0.4px solid;
    border-color: rgb(133, 132, 132);
    font: 70% Lucida Sans, Verdana;
    background-color: rgb(217, 217, 217);
    padding: 5px;
    text-align: center;

}
a {
    color:black;
}